/* Jika ingin mengubah background halaman secara global */
body {
  background-color: #f7f7f7; /* Opsional, karena Bootstrap sudah memiliki background putih default */
}

/* Aturan untuk preview gambar */
#preview {
  max-width: 100px;
  max-height: 100px;
  /* Menghapus properti display: none; agar penanganan kelas d-none dapat bekerja dengan benar */
}

/* Contoh aturan tambahan untuk tombol edit dan hapus jika diperlukan */
.edit-btn {
  /* Aturan khusus untuk tombol edit, jika diperlukan */
}

.delete-btn {
  /* Aturan khusus untuk tombol hapus, jika diperlukan */
}
